@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
    background: url('../images/background-nature.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-size: 16px;
    font-family: 'Permanent Marker', sans-serif;
    padding: 1em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container > fieldset {
    flex: 1;
}

fieldset {
    background: rgba(255, 255, 255, 0.9);
    border: 1px white solid;
    margin: 16px;
    max-width: calc(25% - 64px);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 400%;
}

h1 a {
    color: #fff;
    text-decoration: none;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2), -4px -4px 2px rgba(255, 255, 255, 0.2);
}

legend {
    background: #fff;
    font-size: 130%;
    background: rgba(255, 255, 255, 0.9);
    border: 1px white solid;
    border-bottom: 0;
    padding: 0.1em 0.5em;
    margin-top: -10px;
}

select {
    min-width: 15em;
    min-height: 2em;
    display: block;
    margin: 0.5em 0;
    font-size: 120%;
}

[class^='icon-volume-'] {
    display: inline-block;
    margin: 0 0.5em;
}

button {
    display: inline-block;
    margin: 0 1em;
    vertical-align: bottom;
}

a {
    color: #000;
}

footer {
    height: 2.5em;
    margin-top: 2em;
}

footer p {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-align: right;
    padding: 0.5em;
}

.fork-me {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

@media (max-width: 1200px) {
    body {
        background-position-x: -400px;
    }
}

@media (max-width: 800px) {
    body {
        background-position-x: -520px;
    }

    .container {
        flex-direction: column;
    }

    .container > fieldset {
        width: calc(100% - 64px);
        max-width: calc(100% - 64px);
        flex-basis: calc(100% - 64px);
    }

    h1 {
        font-size: 300%;
        padding-bottom: 0;
    }

    select {
        min-width: 100%;
    }
}

@media (max-width: 600px) {
    body {
        background-position-x: -800px;
    }
}
